<%= error_messages_for :entry_system %>
<h1>New Entry System</h1>

<% form_for @entry_system do |f| -%>
<p>The name and manufacturer are the required details:</p>
<ul>
	<li>				
		<%= f.label :name %>
		<%= f.text_field :name %>
	</li>
	<li>
		<%= f.label :manufacturer %>
		<%= f.text_field :manufacturer %>
	</li>
	<li>
		<%= f.label :prompt %>
		<%= f.text_field :prompt %>
	</li>
	<li>
		<%= f.label :password %>
		<%= f.text_field :password %>
	</li>
	<li><%= f.submit "Submit", :disable_with => 'Submiting...' %></li>
</ul>
<% end -%>
