<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			Entry System <%= @entry_system.manufacturer %> - <%= @entry_system.name %>
		</title>
	</head>
	<body>
		<h2>
			<%= @entry_system.manufacturer %>
		</h2>
		<h3>
			<%= @entry_system.name %>
		</h3>
		<ul>
			<li>
				<%= @entry_system.prompt %>
			</li>
			<li>
				<%= @entry_system.password %>
			</li>
		</ul>
	</body>
</html>
