<h1>entry system</h1>
<h2><%= @entry_system.manufacturer %></h2>
<h3>
	<%= @entry_system.name %>
</h3>
<ul>
	<% if @entry_system.image %>
		<li>
			<img src="/images/<%= @entry_system.name %>" alt="picture of <%= @entry_system.name %>" />
		</li>
	<% end %>
	<li>
		prompt: <%= @entry_system.prompt %>
	</li>
	<li>
		default password: <%= @entry_system.password %>
	</li>
	<li>
		<% if @entry_system.image %>
			<a href="/entry_systems/<%= @entry_system.id %>/image" onclick="if (confirm('Are you sure?')) {
				var f = document.createElement('form');
			  f.style.display = 'none';
				this.parentNode.appendChild(f);
				f.method = 'POST';
				f.action = this.href;
			  var m = document.createElement('input');
				m.setAttribute('type', 'hidden');
				m.setAttribute('name', '_method');
			  m.setAttribute('value', 'delete');
				f.appendChild(m);f.submit();
			};return false;">delete image</a>
		<% else %>
			<a href="/entry_systems/<%= @entry_system.id %>/image/new">add image</a>
		<% end %>
	</li>
	<li>
		<a href="/entry_systems/<%= @entry_system.id %>/edit">edit</a>
	</li>
	<li>
		<a href="/">&larr; index</a>
	</li>
</ul>
