<h1>entry system</h1>
<h2><%= @entry_system.manufacturer %></h2>
<h3>
	<%= @entry_system.name %>
</h3>
<ul>
	<li>
		prompt: <%= @entry_system.prompt %>
	</li>
	<li>
		default password: <%= @entry_system.password %>
	</li>
	<a href="/entry_systems/<%= @entry_system.id %>/images/new">add image</a>
	<br />
	<a href="/entry_systems/<%= @entry_system.id %>/edit">edit</a>
</ul>
